.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;

  &__item {
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 6 * 15px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 12 * 15px) / 6);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms $time-function;

    &:hover,
    &:focus {
      border: 1px solid $color-accent;
    }

    &:hover .clients__logo,
    &:focus .clients__logo {
      fill: $color-accent;
    }
  }

  &__logo {
    fill: #afb1b8;
    transition: fill 250ms $time-function;
  }
}
