.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 1200px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    align-content: center;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
  }
}

// Navigation

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    @media screen and (max-width: 767px) {
      margin-bottom: 302px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__item {
    position: relative;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $color-primaryFont;
    display: block;
    transition: color 250ms $time-function;

    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }

    &--current {
      color: $color-accent;
    }

    &--current::after {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 40px;
        left: 0;

        border-radius: 2px;
        background: $color-accent;
      }
      @media screen and (min-width: 1200px) {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        top: 46px;
        left: 0;

        border-radius: 2px;
        background: $color-accent;
      }
    }
  }
}

// Contacts

.contacts {
  margin-block-start: auto;

  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
}

.contacts {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.contacts .contacts__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $color-secondaryFont;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    transition: color 250ms $time-function;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__link:hover,
.contacts__link:focus {
  color: $color-accent;

  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
  }
}

.contacts__icon {
  fill: currentColor;
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 8px;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-right: 10px;
  }
}

// Mobile only - social networks

.social-menu {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__border {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $color-accent;
  }
}

// Mobile only - Menu button

.menu-button {
  z-index: 900;
  display: inline-flex;
  position: absolute;
  right: 4%;
  border: 0;
  border-radius: 20%;
  background-color: transparent;
  fill: $color-primaryFont;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container.is-open {
  z-index: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-container {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100%;
  height: 100%;
  background-color: $color-white;
  border-radius: 4 px;

  @media screen and (min-width: 768px) {
    display: flex;
    position: unset;
    padding: 0;
  }
}
