.team__section {
  background-color: $color-secondaryBackground;
}

.team {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__item {
    background: $color-white;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }

  &__wrap {
    padding-top: 30px;
    padding-bottom: 24px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-primaryFont;
    text-align: center;
    margin-bottom: 10px;
  }

  &__role {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $color-secondaryFont;
    text-align: center;
    margin-bottom: 16px;
  }

  &__photo {
    width: 450px;
    height: auto;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms $time-function;

    &:hover,
    &:focus {
      background-color: $color-accent;
    }

    &:hover .social-icon,
    &:focus .social-icon {
      fill: $color-white;
    }
  }

  &__icon {
    fill: #afb1b8;
    transition: fill 250ms $time-function;
  }
}
