// Variables

$color-accent: #2196f3;
$color-hover: #188ce8;
$color-primaryFont: #212121;
$color-secondaryFont: #757575;
$color-white: #ffffff;
$color-primaryBackground: #2f303a;
$color-secondaryBackground: #f5f4fa;

$text-primaryFont: Roboto, sans-serif;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
